.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    gap: 25px;
}

.adventure-text {
    width: 500px;
    height: 450px;
    background-color: antiquewhite;
    border: 1px solid black;
}

.inventory {
    width: 200px;
    height: 450px;
    background-color: rgb(199, 192, 182);
    border: 1px solid black;
}

.inputs {
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    position: relative;
    border-radius: 25%;
    background-color: pink;
}

.inputs button {
    position: absolute;
}

.n {
    top: 25px;
    left: 100px;
}
.e {
    right: 25px;
    top: 100px;
}
.s {
    bottom: 25px;
    left: 100px;
}
.w {
    left: 25px;
    top: 100px;
}